{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div class="pet-profile">
        <div class="profile">
            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <img src={{ pet.personal_photo }} alt="image{{ pet.name }}">
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <p>{{ pet.name }}</p>
                        {% if owner == request.user %}
                            <a href="{% url 'edit pet' owner.username pet.slug %}">
                                <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                            </a>
                            <a href="{% url 'delete pet' owner.username pet.slug %}">
                                <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                            </a>
                        {% endif %}
                    </div>
                    <div class="data">
                        <span>{{ pet_photos_count }}</span>
                        <p>photos</p>
                    </div>
                    {% if pet.date_of_birth %}
                        <span>Birth: {{ pet.date_of_birth }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="pet-posts">
            {% for pet_photo in pet_photos %}
                {% include 'base/partials/pets-posts.html' with photo=pet_photo %}
            {% empty %}
                <img class="no-posts" src="{% static 'images/no_posts.png' %}" alt="no posts image">
            {% endfor %}
        </div>
    </div>

{% endblock %}
